<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>The Gossip Project</h1>
    <p>Bienvenue à toi petite fouine la liste des potins arrive bientôt !</p>
    <p> En attendant tu peux quand même me racontez des lourds secrets !</p>
    <p>Je t'invite à cliquer sur ce lien pour me le racontez ! chuuut ^^</p>
    <a href="/gossips/new/">Créer un potins</a>
  </body>
</html>